html, body {
  	height: 100%;
}
body {
	margin: 0;
	text-align: center;
	color: whitesmoke;
	background-color: DarkGrey;
}

.container2 {
	margin: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
}
